* text=auto
.gitattributes text eol=lf
*.css text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.py text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
"Future Ideas and Issues to Address.md" -text
requirements*.in text eol=lf
requirements*.txt text eol=lf
