pygame
toml
youtube_dl
tabulate
numpy
ruamel.yaml
pydrive
python-vlc
pyyaml
regex
PyInquirer
pynput
comtypes
praw
shazamio
colored
pycaw
# librosa (optional)
# Doesn't work, so commented: git+https://github.com/Vivojay/pafy@develop
